.accordion-box{
    position:relative;
    .accordion-item{
        position:relative;
        background-color:$whiteColor;
        border: none;
        border-bottom:4px solid $lighterColor;
        box-shadow:0px 0px 30px rgba(0,0,0,0.10);
        .content{
            position:relative;
            padding:0px 40px 25px;
        }
    }
}