.rs-partner {
    .partner-item {
        display: inline-block;
        margin: 0 40px;
        width: 100%;
        height: 100%;

        img {
            display: inline-block;
            width: 100%;
            height: 100%;
            max-width: 130px;
            max-height: 100px;
            margin: 0 auto;
        }
    }
    &.style2{
        .partner-item {
            img {
                max-width: 100px;
                margin: 0 auto;
            }
        }
    }
    
    .marquee-container {
        align-items: center;

        .initial-child-container {
            display: flex;
            align-items: center;

            .child {
                height: 100%;
                width: 100%;
            }
        }
    }
}