/*----------------------------------------*/
/*  01. Theme default CSS
/*----------------------------------------*/

/* 1. Theme default css */
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900');

html,
body {
    font-size: 15px;
    color: $bodyColor;
    font-family: $bodyFont;
    vertical-align: baseline;
    line-height: 26px;
    font-weight: 400;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 10px;
    background: transparent !important;
}
::-webkit-scrollbar-track {
    background: transparent !important;
}
::-webkit-scrollbar-thumb {
    background: #888; 
    height: 150px;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

* {
    user-select: none;
}
img {
    max-width: 100%;
    height: auto;
}
p {
    margin: 0 0 26px;
    line-height: 1.8;
} 
pre {
    font-family: $bodyFont;
    font-size: 15px;
    text-wrap: wrap;
}
button,
input,
a {
	&:active,
	&:focus {
		outline: none;
	}
}
a {
    color: $primaryColor;
    transition: $transition;
    text-decoration: none !important;
    outline: none !important;
}
a:active,
a:hover {
    text-decoration: none;
    outline: 0 none;
    color: $primaryColor;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $titleFont;
    color: $titleColor;
    margin: 0 0 26px;
    line-height: 1.2;
}
h1 {
    font-size: 70px;
    font-weight: 700;
}
h2 {
    font-size: 36px;
    font-weight: 700;
}
h3 {
    font-size: 26px;
    font-weight: 700;
}
h4 {
    font-size: 24px;
    font-weight: 700;
}
h5 {
    font-size: 18px;
    font-weight: 700;
}
h6 {
    font-size: 16px;
    font-weight: 700;
}
.home-style2 {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $titleColor2;
    }
}
.uppercase{
    text-transform: uppercase !important;
}
.capitalize{
    text-transform: capitalize !important;
}
.bold {
    font-weight: bold;
}
.bold-text {
    font-size: 20px;
    font-weight: bold;
    font-family: $titleFont;
}
.extra-bold {
    font-weight: 800 !important;
}
.z-index-1 {
    z-index: 1;
    position: relative;
}
.text-right {
    text-align: right;
}
ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

/*--
    - Text color
-----------------------------------------*/
.white-color {
	color: $whiteColor !important;
}
.primary-color {
	color: $primaryColor !important;
}
.orange-color {
    color: $orangeColor !important;
}
.secondary-color {
	color: $secondaryColor !important;
}
.purple-color {
	color: $purpleColor !important;
}
.black-dark {
    background: #131313 !important;
}
.black-bg {
    background: #000000 !important;
}

/*--
    - Background color
-----------------------------------------*/
.gray-bg {
	background: $graybg;
}
.sec-bg {
	background: $secbg;
}
.white-bg {
	background: $whiteColor;
}
.primary-bg {
	background: $primaryColor;
}
.secondary-bg {
	background: $secondaryColor;
}
.event-bg {
    background: #f9f8f8;
}
.event2-bg{
    background: #F4F6F5;
}


/*--
    - Common Classes
-----------------------------------------*/
.fix {
    overflow:hidden
}
.clear{
    clear: both;
}
.f-left {
	float: left
}
.f-right {
	float: right
}
.no-border {
	border: none;
}
.no-shadow {
	box-shadow: none;
	text-shadow: none;
}
.no-padding {
	padding: 0;
}
.padding-0 {
	padding: 0;
}
.no-margin {
	margin: 0;
}
.margin-0 {
	margin: 0;
}
.position-static {
    position: static !important;
}
.no-gutter {
	margin-left: 0;
    margin-right: 0;
    > [class*="col-"] {
        padding-left: 0;
        padding-right: 0;
    }
}
.gutter-30 {
	margin-left: -15px;
    margin-right: -15px;
    > [class*="col-"] {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.gutter-35 {
	margin-left: -17.5px;
    margin-right: -17.5px;
    > [class*="col-"] {
        padding-left: 17.5px;
        padding-right: 17.5px;
    }
}
.container-fluid {
    padding-left: 60px;
    padding-right: 60px;
}
.relative {
    position: relative;
}
.zIndex {
    position: relative;
    z-index: 9;
}
.zIndex1 {
    position: relative;
    z-index: 1;
}
.flex-grow {
    flex-grow: 1;
}
.y-top {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}
.y-middle {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.y-bottom {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: flex-end;
	-webkit-align-items: flex-end;
	align-items: flex-end;
}
/* Slick Slider */
.slick-list {
    margin: -15px;
}
/* item */  
.slick-slide{
    padding: 25px;
}

/*Video Icon*/
.popup-video,
.popup-videos {
    cursor: pointer;
}
.media-icon {
    position: relative;
    display: inline-block;
    z-index: 1;
    .popup-videos {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: $whiteColor;
        background: $primaryColor;
        width: 70px;
        height: 70px;
        border-radius: 100%;
        text-align: center;
        cursor: pointer;
        &:before {
            content: "";
            position: absolute;
            z-index: 0;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            display: block;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            animation: pulse-border 1500ms ease-out infinite;
            transition: $transition;
            z-index: -1;
        }
        i {
            margin-left: 5px;
            &:before {
                font-size: 24px;
                line-height: 70px;
            }
        }
        &:hover {
            &:before {
                background: $primaryColor;
            }
        }
    }
    &.orange-color{
        .popup-videos {           
            color: $orangeColor;
            background: $whiteColor;
            &:before {
            }
            i {
                &:before {
                    font-size: 30px;
                    line-height: 70px;
                }
            }
            &:hover {            
                &:before {
                    background: $whiteColor;
                }
            }
        } 
    }
    &.orange-color2{
        .popup-videos {
            color: $whiteColor;
            background: $orangeColor;
            animation: circle-ripple 3s linear linear infinite;
            -webkit-animation: circle-ripple 3s linear infinite;
            &:before {
                    display: none;
            }
            &:hover {            
                &:before {
                    background: $orangeColor;
                }
            }
        } 
    } 
    &.yellow-color{
        .popup-videos {           
            color: $secondaryColor;
            background:  $yellowColor;
            &:before {
            }
            &:hover {            
                &:before {
                    background: #1c335f;
                }
            }
        } 
    }
}

.readon {
    outline: none;
    padding: 12px 40px;
    border: 1px solid $primaryColor;
    border-radius: 30px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    font-family: $bodyFont;
    font-weight: 700;
    color: $titleColor;
    background: $grayColor;
    &.orange-btn{
        color: $whiteColor;
        background: $orangeColor;
        border-color: $orangeColor;
        border-radius: 5px 5px 5px 5px;
        outline: none;
        padding: 12px 35px;
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        &.main-home{
            padding: 10px 30px !important;
            &:hover{
                transform: scale(1.15);
                color: $whiteColor;
                background: #171F32;
            }
        }
        &:hover{
            color: $whiteColor;
            background: darken($orangeColor,10%);
        }
        &.transparent{
            &:hover{
                color: $titleColor5;
                background: $whiteColor;
                border-color: $whiteColor;
            }
        }
    }  
    &.register-btn {
        padding: 10px 50px;
        color: $whiteColor;
        background: $orangeColor;
        border-color: $orangeColor;
        font-weight: 500;
        width: 100%;
        border-radius: 5px;
        &:hover {
            background: darken($orangeColor, 5%);
        }
    }
    &.submit-btn{
        border: 2px solid;
        border-color: $orangeColor;
        padding: 10px 50px;
        line-height: normal;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;
        background: $orangeColor;
        color: $whiteColor;
        border-radius: 5px; 
        margin-bottom: 12px;
        width: 100%;
        &:hover{
            background: transparent !important;
            color: $orangeColor !important;
        }
    }  
    &:hover {
        background: $primaryColor !important;
        color: $whiteColor;
    }
}
.readon-arrow {
    color: $titleColor;
    padding-right: 22px;
    position: relative;
    font-weight: 500;
    &:after {
        position: absolute;
        content: "\f136";
        font-family: Flaticon;
        font-style: normal;
        top: 50%;
        transform: translateY(-50%);
        right: 5px;
        color: $titleColor;
        transition: $transition;
        font-weight: 600;
        font-size: 14px;
    }
    &:hover {
        color: $primaryColor;
        &:after {
            right: 0;
            color: $primaryColor;
        }
    }
}
.btn-shop {
    outline: none;
    font-weight: 400;
    border: none;
    text-transform: uppercase;
    background: $primaryColor;
    font-size: 15px;
    padding: 8px 25px;
    color: #ffffff;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    &:hover{
        background: $secondaryColor;
        color: $whiteColor;
    }
    &.orange-color {
        background: $orangeColor;
        color: $whiteColor !important;
        &:hover {
            background: darken($orangeColor,10%);
        }
    }
}
/*-- Blog Button Css --*/
.blog-btn{
    cursor: pointer;
    color: $titleColor;
    display: inline-block;
    position: relative;
    font-size: 15px;
    padding-right: 43px;
    text-transform: capitalize;
    font-weight: 600;
    &.white-color{
        color: $whiteColor;
        &:after {
            color: $whiteColor;
        }
        &:hover {
            color: $primaryColor;
            &:after {
                right: 17px;
                color: $primaryColor;
            }
        }
    }
    &:after {
        position: absolute;
        content: "\f133";
        right: 20px;
        top: 50%;
        font-size: 15px;
        font-weight: 600;
        color: $titleColor;
        font-family: "Flaticon";
        transform: translateY(-50%);
        transition: $transition;
    }
    &:hover {
        color: $primaryColor !important;
        &:after {
            right: 15px !important;
            color: $primaryColor !important;
        }
    }
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
    margin-left: 0;
}

.height-100 {
    height: 100%;
}

.dots{
    list-style: disc;
    margin: 0 0 1.5em 3em;
}

blockquote {
    margin: 35px 0;
    padding: 40px;
    color: #666;
    position: relative;
    background: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 55px;
    font-weight: 400;
    font-style: italic;
    text-align: left;
    clear: both;
    box-shadow: 0 0 150px #eee;
    &:before{
        position: absolute;
        content: "";
        display: block;
        left: 0;
        top: 0;
        height: 100%;
        width: 10px;
        background: $primaryColor;
    }
    p{
        font-size: 16px;
        margin: 0;
    }
}

.title-color {
    color: $titleColor;
}
.body-color {
    color: $bodyColor;
}
.media-icon {
    position: relative;
    display: inline-block;
    z-index: 1;
}

// Section Title
.sec-title {
    .sub-title {
        font-size: 18px;
        line-height: 28px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 8px;
        &.primary {
            color: $primaryColor;
        }
        &.secondary {
            color: $secondaryColor;
        }
        &.white {
            color: $whiteColor;
        }
        &.dark {
            color: $titleColor;
        }
        &.orange {
            color: $orangeColor;
        }
    }
    .desc {
        &.big {
            font-size: 18px;
            line-height: 30px;
        }
    }
    .midline{
        font-size: 36px;
        color: $titleColor;
    }
}
.sec-title2{
    font-family: $bodyFont;
    .sub-title{
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
        color: $primaryColor;
        text-transform: uppercase;
        margin-bottom: 10px;
        &.white-color{
            color: $whiteColor;
        }
    }
    .desc {
        &.big {
            font-size: 18px;
            line-height: 30px;
        }
    }
    .title{
        font-size: 42px;
        line-height: 52px;
        font-weight: 800;
        color: $titleColor4;
        &.white-color{
            color: $whiteColor;
        }
        &.purple-color{
            color: $purpleColor !important;
        }
    }
}

.left-top-shape {
    position: absolute;
    left: -55px;
    top: 65px;
}
.right-top-shape {
    position: absolute;
    right: -115px;
    top: 25px;
}

// others common css here :)
.check-square{
    li{
        position: relative;
        padding-left: 25px;
        line-height: 35px;
        border: none;
        font-size: 15px;
        font-weight: 500;
        color: #454545;
        &:before{
            position: absolute;
            left: 0;
            z-index: 0;
            content: "\f058";
            font-weight: 400;
            font-family: 'FontAwesome';
            color: rgb(120, 124, 242);
        }
    }
}
.shape-part{
    .right-side,
    .left-side{
        position: absolute;
        bottom: 0px;
        left: 0;
    }
    .right-side{
        left: auto;
        right: 0;
    }
}
.rs-step{
    background: url(../../assets/img/bg/steps-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 10px 10px;
    padding: 258px 0;
}

select,
.cursor-pointer {
    cursor: pointer;
}

.form-group {
    margin-bottom: 1rem;
}

.styled-form {
    position: relative;
    
    .form-group {
        position: relative;

        input {
            position: relative;
            height: 50px;
            padding: 6px 30px;
            width: 100%;
            color: #222;
            font-size: 16px;
            border-radius: 0;
            transition: all .5s ease;
            -moz-transition: all .5s ease;
            -webkit-transition: all .5s ease;
            -ms-transition: all .5s ease;
            -o-transition: all .5s ease;
            border: none;
            box-shadow: 0 0 30px #eee;
        }
    }
}

.watermark-animate {
    -webkit-animation: watermark-animate 8s infinite;
    animation: watermark-animate 8s infinite;
    animation-direction: alternate-reverse;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}
@keyframes watermark-animate{
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}

/*--
    -Removeable
-----------------------------------------*/
.grey-bg-2 {
	background: $grey-2;
}
.black-bg {
	background: $black;
}
.theme-bg {
	background: $theme-color;
}
.theme-bg {
	background: $theme-color;
}
.footer-bg {
	background: $footer-bg;
}
.black-color {
	color: $black;
}
.theme-color {
	color: $theme-color;
}

.mapouter {
    position:relative;
    text-align:right;
    width:100%;
    height:530px;
}
.gmap_canvas {
    overflow:hidden;
    background:none !important;
    width:100%;
    height:530px;
}
.gmap_iframe {
    height:530px !important;
}

.hidden-opacity {
    opacity: 0;
}

.width-30-100 {
    width: 30%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    animation: width-30-100 2s linear 0s infinite alternate;
}
.width-30-100-delayed {
    width: 30%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    animation: width-30-100 2s linear 3s infinite alternate;
}

.img-part.animated {
    animation: left-right 20s linear 0s infinite alternate;
}

/* Custom Container Width :1440px. */
@media (min-width: 1440px) {
    .container {
        max-width: 1270px;
        width: 100%;
    }
}

/* Laptop Device :1600px. */
@media #{$laptop} {
    .sec-left, 
    .sec-right {
        display: none;
    }
}

/* XL Device :1366px. */
@media #{$xl} {
    .container {
        max-width: 1170px;
        width: 100%;
    }
    .container-fluid2 {
        padding-left: 0px;
        padding-right: 0px;
    }
}

/* Lg Device :1199px. */
@media #{$lg} {
    .pl-100 {
        padding-left: 35px;
    }
    .pr-180 {
        padding-right: 0px;
    }
    .bg13 {
        padding: 81px 60px 81px 60px;
    }
    .container-fluid2 {
        padding-left: 0px;
        padding-right: 0px;
    }
    .container {
        max-width: 1070px;
    }
    .sec-title .title,
    .sec-title2 .title {
        font-size: 35px;
    }
}

/* Custom Container Width :992px. */
@media (min-width: 992px) {
    .mobile-menu-part {
        display: none;
    }
    .pr-95 {
        padding-right: 0;
    }
    .lg-pr-0 {
        padding-right: 0;
    }
    .lg-pl-0 {
        padding-left: 0;
    }
}

@media #{$md} {  
    .md-display-flex {
        display: flex !important;
    }
    .full-width-header .rs-header .menu-area.menu-sticky {
        transition: none;
    }
    .order-last {
        -ms-flex-order: unset !important;
        order: unset !important;
    }
    .hidden-md {
        display: none;
    }
    .md-text-left {
        text-align: left !important;
    }
    .pt-411 {
        padding-top: 372px;
    }
    .bg13 {
        padding: 100px 50px 100px 50px;
    }
    .bg8 {
        padding: 25px 0 25px;
    }
    .md-pl-pr-15,
    .md-col-padding [class*="col-"] {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
    .container {
        max-width: 720px;
    }
    .mobile-menu-part.open {
        display: block;
        width: 540px;
        left: calc((720px - 540px) / 2);
    }
    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    } 
    .md-text-left {
        text-align: left;
    }
    .sec-title2 .sub-title {
        font-size: 16px;
        line-height: 23px;
    }
    .sec-title2 .title {
        font-size: 34px;
        line-height: 44px;
    }
    .sec-title .title {
        font-size: 30px;
    }
}


@media #{$sm} {
    .counter-item {
        text-align: center;
    }
    .container {
        max-width: 540px;
    }    
    .mobile-menu-part.open {
        width: 100%;
        left: 0;
    }
    .hidden-sm {
        display: none;
    }
    .sm-text-center {
        text-align: center !important;
    }
    .sm-text-left {
        text-align: left !important;
    }
    .sec-title .title {
        font-size: 30px;
    }
    .sec-title .sub-title {
        font-size: 16px;
    }
    .sec-title2 .title {
        font-size: 30px;
        line-height: 1.4;
    }
    .pr-183 {
        padding-right: 0;
    }
    .bg13 {
        padding: 70px 40px 70px 40px;
    }
}

@media #{$xs} { 
    .readon {
        padding: 10px 30px !important;
        font-size: 15px;
    } 
    .bg8 {
        background: none;
        padding: 50px 0 50px;
    }
    .readon.green-btn {
        font-size: 12px;
        padding: 8px 23px !important;
    }
    .rs-banner.style5 {
        min-height: 400px;
    }
}

@media #{$mobile} {
    .container-fluid {
        padding: 0 15px;
    }
    .sec-title2 .title {
        font-size: 25px;
    }
    .sec-title .title {
        font-size: 25px;
    }
    blockquote {
        padding: 20px;
    }
    .readon.orange-btn {
        font-size: 14px;
    }
}