 /* 2 header */
.logo {
	cursor: pointer;
}
.header-transparent {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;
	transition: .4s;
}
.sticky {
	left: 0;
	margin: auto;
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.07);
	z-index: 9999;
	-webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
	animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
	-webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
	background: #fff;
	z-index: 999;
}


/* menu */
.main-menu nav > ul > li {
    display: inline-block;
    position: relative;
    margin-left: 28px;
}
.main-menu nav > ul > li:first-child{margin-left:0;}
.main-menu nav > ul > li > a {
    color: #333333;
    display: block;
    font-size: 16px;
    padding: 43px 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: transparent;
    line-height: 1;
    position: relative;
    text-transform: capitalize;
    font-family: 'cerebri_sanssemibold';
}
.main-menu nav > ul > li > a i {
    font-size: 14px;
    position: relative;
    top: 1px;
    left: 4px;
    color:#8f8f8f;
}
.main-menu nav > ul  > li:hover > a,
.main-menu nav > ul  > li > a.active-menu {
    color:$theme-color;
    color: black;
}
.main-menu > nav > ul > li > a::before {
    background: $theme-color;
    content: "";
    height: 3px;
    position: absolute;
    bottom: 0;
    width: 0;
    transition: .5s;
}

.full-width-header{
    position: relative;
    .rs-header{  
        max-height: 100vh;
        padding-top: 20px;
        position: relative;

        .logo-part {
            position: relative;
            z-index: 9;
            img {
                max-height: 40px;
            }
        }
        .menu-area {
            transition: $transition;
            background-image: linear-gradient(90deg, #03228f 10%, #0e73e4 100%);
            .logo-area{
                a{
                    img{
                        transition: 0.4s;
                        max-height: 70px;
                    }
                    .sticky-logo{
                        display: none;
                    }
                }
            }
            .responsive-logo {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                display: none;
                img {
                    max-height: 70px;
                }
            }
            .logo-cat-wrap {
                display: flex;
                align-items: center;
                height: 120px;
                line-height: 120px;
            }
            .categories-btn {
                position: relative;
                .cat-btn {
                    display: inline-flex;
                    align-items: center;
                    background: transparent;
                    padding: 0;
                    border: none;
                    outline: unset;
                    color: $whiteColor;
                    text-transform: uppercase;
                    i {
                        margin-right: 5px;
                        transition: $transition;
                    }
                    &:hover {
                        i {
                            color: $primaryColor;
                        }
                    }
                }
                .cat-menu-inner {
                    position: absolute;
                    top: 140px;
                    width: 200px;
                    opacity: 0;
                    visibility: hidden;
                    transition: $transition;
                    background: $primaryColor;
                    padding: 15px 0;
                    li {
                        height: 45px;
                        line-height: 45px;
                        a {
                            color: #ffffff;
                            padding: 0 30px;
                            display: inline-block;
                            text-transform: capitalize;
                            width: 100%;
                            &:hover {
                                color: $secondaryColor;
                            }
                        }
                    }
                }
            }
            .rs-menu-area {
                float: none;
                text-align: center;
                align-items: center;
                justify-content: center;
            }
            .main-menu{
				.mobile-menu {
					display: none;
                    justify-content: space-between;
                    align-items: center;
                    height: 70px;
                    line-height: 70px;
                    .mobile-normal-logo {
                        float: left;
                        display: block;
                        img {
                            max-height: 70px;
                        }
                    }
                    .mobile-sticky-logo {
                        float: left;
                        display: none;
                        img {
                            max-height: 70px;
                        }
                    }
                    .logo {
                        img {
                            max-height: 70px;
                        }
                    }
                    .rs-menu-toggle{
                        cursor: pointer;
                        color: $whiteColor;
                        font-size: 25px;
                        &:hover {
                            opacity: 0.8;
                        }
                        &.primary {
                            color: $primaryColor;
                        }
                        &.secondary {
                            color: $secondaryColor;
                        }
                    }
                    &.fixed-width {
                        max-width: 720px;
                        margin: 0 auto;
                    }
				}
                .rs-menu{
                    ul{
                        &.nav-menu{
                            position: relative;
                            display: inline-block;
                            li{
                                display: inline-block;
                                margin-right: 32px;
                                margin-left: 0;
                                padding: 0;
                                a {
                                    transition: $transition;
                                    font-size: 15px;
                                    font-weight: 500;
                                    height: 70px;
                                    line-height: 70px;
                                    padding: 0;
                                    color: $whiteColor;
                                    position: relative;
                                    font-family: $bodyFont;
								    &:before {
										display: none;
								    }
                                    &:hover{
                                        color: #bbb;
                                    }                                   
                                }
                                &.current-menu-item {
                                    > a {
                                        color: #bbb;
                                    }
                                }
                                &:last-child{
                                    margin-right: 0!important;
                                    a {
                                        margin-right: 0!important;
                                    }
                                    i{
                                        margin: 0;
                                    }
                                } 
                                &.rs-mega-menu{
                                    position: static;
                                    .mega-menu{
                                        position: absolute;
                                        right: 0;
                                        opacity: 0;
                                        visibility: hidden;
                                        transform: translateY(10px);
                                        -webkit-transition: $transition;
                                        -moz-transition: $transition;
                                        transition: $transition;

                                        .mega-menu-container {
                                            display: inline-flex;
                                        }
                                    }
                                    &:hover {
                                        .mega-menu {
                                            opacity: 1;
                                            visibility: visible;
                                            transform: translateY(0);
                                        }
                                    } 
                                }                              
                            }
                        }
                    }
                    ul li a:hover,
                    ul li a.active-menu,
                    ul li.current-menu-item > a{
                        color: #fff; 
						background: unset;
                    }
                }
            }
            .expand-btn-inner {
                .icon-bar{
                    .cart-icon{
                        position: relative;
                        z-index: 1;
                        padding-right: 10px;
                        i{
                            &:before{
                                font-size: 18px;
                                color: $titleColor;
                            }
                            &:hover {
                                &:before{
                                    color: $primaryColor !important;
                                }
                            }
                        }
                    }
                }
                .user-icon{
                    a{
                        font-size: 15px;
                        border: none;
                        color: $whiteColor;
                        &:hover{
                            color: $primaryColor;
                        }
                    }
                    > a {
                        height: 70px;
                        line-height: 70px;
                        display: flex;
                        align-items: center;
                        i {
                            color: #fff;
                            border: 1px solid #eee;
                            width: 32px;
                            display: block;
                            text-align: center;
                            border-radius: 50%;
                            font-size: 14px;
                            height: 32px;
                            line-height: 29px;
                        }
                    }
                }
                li{
                    display: inline-block;
                    margin-right: 15px;                                        
                    .apply-btn {
                        background: $primaryColor;
                        color: $whiteColor;
                        padding: 10px 23px;
                        line-height: 16px;
                        border-radius: 30px;
                        font-size: 14px;
                        &:hover{
                            opacity: 0.7;
                        }
                    }
                    &:last-child {
                        margin-right: 0 !important;
                    }
                }
                &.hidden-sticky {
                    display: none;
                }
            }
            &.sticky {
                background: #fff;
                .logo-area{
                    a{
                        .sticky-logo{
                            display: block;
                            max-height: 70px;
                        }
                        .normal-logo{
                            display: none;
                        }
                    }
                }         
            }
        }
        
        .expand-btn-inner {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-right: 0;
            .sidebarmenu-search{
                > a {
                    color: $whiteColor;            
                    i {
                        &:before {
                            font-size: 18px;
                            font-weight: 600;
                        }
                        &.flaticon-shopping-bag-1 {
                            &:before {
                                font-weight: normal;
                            }
                        }
                    }
                    &:hover {
                        color: $whiteColor;
                    }
                }
            }
            .user-icon{
                a{
                    font-size: 15px;
                    border: none;
                    color: $whiteColor;
                    &:hover{
                        color: $primaryColor;
                    }
                }
                > a {
                    height: 70px;
                    line-height: 70px;
                    display: flex;
                    align-items: center;
                    i {
                        color: #fff;
                        border: 1px solid #eee;
                        width: 32px;
                        display: block;
                        text-align: center;
                        border-radius: 50%;
                        font-size: 14px;
                        height: 32px;
                        line-height: 29px;
                    }
                }
            }
            li{
                display: inline-block;
                margin-right: 15px;
                &:last-child {
                    margin-right: 0 !important;
                }
            }
        }

        .nav-expander {
            display: none;
            position: relative;
            top: 3px;
            transition: $transition;
            span {
                height: 2px;
                width: 30px;
                display: block;
                background: $whiteColor;
                margin: 6px 0;
                transition: $transition;
                &.dot1 {
                    margin-top: 0;
                }
                &.dot3 {
                    margin-bottom: 0;
                }
            }
            &:hover {
                cursor: pointer;
                span {
                    background: $primaryColor;
                }
            }
        }
    }

    &.home8-style4{
        width: 100%;
        z-index: 999;
        .rs-header{
            .menu-area{
                .rs-menu-area {
                    .main-menu{
                        .rs-menu{
                            ul{
                                &.nav-menu{
                                    li{
                                        a {
                                            height: 90px;
                                            line-height: 90px;
                                            color: $titleColor !important;
                                            position: relative;
                                            &::after {
                                                content: "";
                                                height: 2px;
                                                position: absolute;
                                                transition: all 0.35s ease;
                                                background-color: $primaryColor;
                                                width: 0;
                                                bottom: 20px;
                                                left: 0;
                                            }
                                            &:hover{
                                                color: $primaryColor !important;
                                                &::after {
                                                    width: 100%;
                                                }
                                            }
                                        }
                                        &.current-menu-item {
                                            > a {
                                                position: relative;
                                                color: $orangeColor !important;
                                            }  
                                            > a::after {
                                                content: "";
                                                height: 2px;
                                                position: absolute;
                                                transition: all 0.35s ease;
                                                background-color: $orangeColor;
                                                width: 100%;
                                                bottom: 20px;
                                                left: 0;
                                            }
                                        }                                        
                                    }
                                }
                            }
                        }                        
                    }
                }
            }
        }  
        .right_menu_togle .close-btn #nav-close {
            background: $primaryColor;
        }
        &.main-home{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            .rs-header {
                .menu-area{
                    background: transparent !important;
                    .logo-part{
                        .sticky-logo{
                            display: none;
                        }
                    }
                    .rs-menu-area {
                        .main-menu{
                            .rs-menu{
                                ul{
                                    &.nav-menu{
                                        li{
                                            a {
                                                color: $whiteColor !important;
                                            } 
                                            &.current-menu-item {
                                                > a {
                                                    color: $orangeColor !important;
                                                }  
                                            }  
                                        }
                                    }
                                }
                            }
                            .rs-menu-toggle {
                                cursor: pointer;
                                color: $whiteColor !important;
                            }
                        }
                    }
                    &.menu-sticky.sticky {
                        background: $whiteColor !important;
                        .logo-part{
                            .sticky-logo{
                                display: block;
                            } 
                            .normal-logo{
                                display: none;
                            }
                        }
                        .rs-menu-area {
                            .main-menu{
                                .rs-menu{
                                    ul{
                                        &.nav-menu{
                                            li{
                                                a {
                                                    position: relative;
                                                    height: 90px;
                                                    line-height: 90px;
                                                    color: $titleColor !important;
                                                    &::after {
                                                        content: "";
                                                        height: 2px;
                                                        position: absolute;
                                                        transition: all 0.35s ease;
                                                        background-color: $primaryColor;
                                                        width: 0;
                                                        bottom: 20px;
                                                        left: 0;
                                                    }
                                                    &:hover{
                                                        &::after {
                                                            width: 100%;
                                                        }
                                                    }
                                                    &:last-child{
                                                        margin-right: none !important;
                                                    }
                                                }
                                                &.current-menu-item {
                                                    > a {
                                                        position: relative;
                                                        color: $primaryColor !important;
                                                    }
                                                    > a::after {
                                                        content: "";
                                                        height: 2px;
                                                        position: absolute;
                                                        transition: all 0.35s ease;
                                                        background-color: $primaryColor;
                                                        width: 100%;
                                                        bottom: 20px;
                                                        left: 0;
                                                    }
                                                }                                        
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .expand-btn-inner {
                            li {
                                .cart-icon {
                                    .cart-count {
                                        background: $primaryColor;
                                        color: $whiteColor;
                                    }
                                }
                                > a {
                                    color: #494949;
                                    i{
                                        &:before {
                                            color: $titleColor !important;
                                        }
                                    }
                                    &:hover {
                                        color: $primaryColor;
                                        i{
                                            &:before {
                                                color: $primaryColor !important;
                                            }
                                        }
                                    }
                                }
                            }
                            .nav-expander span {
                                background: #394459;
                            }
                        }
                        .user-icon{                            
                            .nav-expander {
                                color: $titleColor !important;
                            }
                        }
                    }
                }
                .expand-btn-inner {
                    .cart-icon{
                        i{
                            font-size: 20px;
                        }
                    }
                    li{
                        a{
                            i{
                                &:before {
                                    color: $whiteColor !important;
                                }
                            }
                            &:hover{
                                i{
                                    &:before {
                                        color: $primaryColor !important;
                                    }
                                }
                            }
                        }
                    }
                    .user-icon{
                        > a{
                            position: relative;
                            display: flex;
                            align-items: center;
                            i{
                                color: #fff;
                                border: 1px solid #eee;
                                width: 32px;
                                display: block;
                                text-align: center;
                                border-radius: 50%;
                                font-size: 14px;
                                height: 32px;
                                line-height: 29px;
                                &:before{
                                    color: $whiteColor;
                                }
                            }
                        }
                    }
                    .nav-expander {
                        display: none;
                        span {
                            background: $whiteColor;
                        }
                        &:hover {
                            span {
                                background: $primaryColor;
                            }
                        }
                    }
                    .mini-cart-active:hover .woocommerce-mini-cart {
                        top: 90px;
                    }
                }
            }
        }
    }
}

@media #{$md} {
    .full-width-header {
        .rs-header {
            .menu-area {
                position: static;
                z-index: 99;
                &.sticky {
                    position: static;
                    .main-menu {
                        .mobile-menu {
                            .mobile-normal-logo {
                                display: none;
                            }
                            .mobile-sticky-logo {
                                display: block;
                            }
                            .rs-menu-toggle {
                                color: $primaryColor;
                            }
                        } 
                    }                                       
                }
                .rs-menu-area {
                    .main-menu {
                        .mobile-menu {
                            .normal-logo {
                                width: 180px;
                            }
                        }
                    }
                }
            }
        }
    }
    .nav-expander {
        display: block;
    }
}


@media #{$mobile} {
    .full-width-header {
        .rs-header {
            .menu-area {
                .rs-menu-area {
                    .main-menu {
                        .mobile-menu {
                            .normal-logo {
                                width: 150px;
                            }
                        }
                    }
                }
            }
        }
    }
}