/* Custom Container Width :1440px. */
@media (min-width: 1440px) {
    .container {
        max-width: 1270px;
        width: 100%;
    }
}

/* Laptop :1600px. */
@media #{$laptop} {}


/* XL Device :1366px. */
@media #{$xl} {
    .hidden-xl {
        display: none !important;
    }
}

/* Lg Device :1199px. */
@media #{$lg} {}


/* Tablet desktop :768px. */
@media #{$md} {
    .hidden-md {
        display: none !important;
    }
    .md-display-flex {
        display: flex !important;
    }
    .md-max-w-unset {
        max-width: unset !important;
    }
    .md-flex-wrap {
        flex-wrap: wrap !important;
    }
}


/* Tablet :767px. */
@media #{$sm} {
    .hidden-sm {
        display: none !important;
    }
    h3 {
        font-size: 23px;
    }
    .rs-my-account .title,
    .rs-team-Single .btm-info-team .con-info .title,
    .rs-why-choose.style3 .features-wrap .title,
    .rs-banner.style6 .banner-content .title,
    .rs-call-action .action-wrap .title,
    .rs-about.style4 .about-content .title,
    .rs-banner.style5 .banner-content .title,
    .rs-banner.style3 .banner-content .title {
        font-size: 28px;
    }
}

/* Large Mobile :575px. */
@media #{$xs} {}

/* small mobile :480px. */
@media #{$mobile} {}