.rs-login {
    .noticed {
        background: #f9f8f8;
        max-width: 800px;
        padding: 70px;
        margin: 0 auto;

        .main-part {
            max-width: 450px;
            margin: 0 auto;
            text-align: center;
            border-radius: 5px;

            .method-account {
                .login {
                    font-size: 40px;
                    line-height: 50px;
                    font-weight: 700;
                    color: $titleColor;
                }
                input {
                    margin-bottom: 30px;
                    font-size: 15px;
                    font-weight: 400;
                    color: $bodyColor;
                    width: 100%;
                    display: block;
                    border: none;
                    height: 45px;
                    padding: 10px 18px;
                    border-radius: 5px;
                    box-shadow: 0 0 30px #eee;
                }
                .last-password {
                    p {
                        color: $bodyColor;
                        margin: 0;
                    }
                }
            }
        }
    }
}

.register-section {
    .register-box {
        position: relative;
        max-width: 970px;
        margin: 0 auto;
        padding: 45px 40px 35px;
        background: #f9f8f8;
        
        .styled-form {
            max-width: 600px;
            margin: 0 auto;
        }
    }
}


@media #{$md} {
    .rs-login {
        padding-bottom: 40px;
        padding-top: 40px;

        .noticed {
            padding: 50px;

            .main-part {
                .method-account {
                    .login {
                        font-size: 32px;
                        line-height: 40px;
                    }
                }
            }
        }
    }
    .register-section {
        padding-bottom: 40px;
        padding-top: 40px;

        .register-box {
            .title {
                font-size: 32px;
                line-height: 40px;
            }
        }
    }
}

@media #{$xs} {
    .rs-login .noticed,
    .register-section .register-box {
        padding: 40px 20px;
    }
}