.rs-slider {
    &.main-home {
        height: 100vh;
        position: relative;
        .slider-content {
            height: 100vh;
            text-align: center;
            .content-part{
                padding: 250px 35px 100px;
                max-width: 900px;
                margin: 0 auto;
                .sl-sub-title {
                    font-size: 22px;
                    line-height: 30px;
                    font-weight: 500;
                    color: $orangeColor;
                    margin-bottom: 22px;
                    text-transform: uppercase;
                }
                .sl-title {
                    font-size: 70px;
                    line-height: 80px;
                    font-weight: 700;
                    color: $whiteColor;
                    margin-bottom: 65px;
                }
            }
            &.slide1 {
                position: relative;
                background: rgba(0,0,0,.6);
                max-height: 100vh;

                #myVideo1,
                #myVideo2 {
                    position: absolute;
                    top: 0;
                    left: 0;
                    min-width: 100%; 
                    height: 100vh;
                    z-index: -1;
                }
            }
        }    
    }
}

@media #{$md} {
    .rs-slider.main-home .slider-content .content-part .sl-title {
        font-size: 60px;
        line-height: 1.3;
    }
    .rs-slider.main-home .slider-content .content-part {
        padding: 350px 35px 165px;
    }
}

/* Tablet :767px. */
@media #{$sm} {    
    .rs-slider.main-home .slider-content .content-part {
        padding: 300px 15px 125px;
    }
    .rs-slider.main-home .slider-content .content-part .sl-sub-title {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .rs-slider.main-home .slider-content .content-part .sl-title {
        font-size: 48px;
        margin-bottom: 50px;
    }
}

/* Large Mobile :575px. */
@media #{$xs} {  
    .rs-slider.main-home .slider-content .content-part .sl-sub-title {
        font-size: 18px;
    }
    .rs-slider.main-home .slider-content .content-part .sl-title {
        font-size: 35px;
        margin-bottom: 30px;
    }    
}

/* small mobile :480px. */
@media #{$mobile} {
    .rs-slider.main-home .slider-content .content-part .sl-sub-title {
        font-size: 16px;
    }
    .rs-slider.main-home .slider-content .content-part .sl-title {
        font-size: 28px;
        margin-bottom: 25px;
    }
}