.rs-team {
    &.style1 {
        margin-top: 20px;

        .team-item {
            border-radius: 15px 15px 4px 4px;
            position: relative;
            overflow: hidden;
            max-height: 400px;
            img {
                min-height: 400px;
                width: 100%;
            }
            .content-part {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, 50%);
                text-align: center;
                z-index: 1;
                transition: $transition;
                opacity: 0;

                .name {
                    margin-top: 15px;
                    margin-bottom: 0;
                    font-size: 18px;
                    a {
                        color: $whiteColor;
                        &:hover {
                            color: $titleColor;
                        }
                    }
                }
                .designation {
                    color: $whiteColor;
                    margin-bottom: 16px;
                    display: block;
                    font-size: 12px;
                }
                .social-links {
                    li {
                        display: inline;
                        margin-right: 35px;
                        a {
                            display: inline-block;
                            color: $whiteColor;
                            &:hover {
                                color: $titleColor;
                            }
                        }
                        &:last-child {
                            margin: 0;
                        }
                    }
                }
            }
        }
        .owl-item {
            &.center {
                .team-item {
                    .content-part {
                        transform: translate(-50%, -50%);
                        opacity: 1;
                    }
                    &:after {
                        transform: translate(-50%, -50%) scale(1);
                        opacity: 0.9;
                    }
                }
            }
        }
        .nav-style {
            position: relative;
            .owl-nav {
                display: block;
                position: absolute;
                top: -80px;
                right: 0;
                .owl-prev,
                .owl-next {
                    display: inline-block;
                    i {
                        transition: $transition;
                        &:before {
                            font-family: Flaticon;
                            font-size: 22px;
                        }
                    }
                    &:hover {
                        i {
                            color: $primaryColor;
                        }
                    }
                }
                .owl-prev {
                    i {
                        &:before {
                            content: "\f134";
                        }
                    }
                    &:after {
                        content: "/";
                        padding: 0 5px 0 5px;
                        position: relative;
                        top: -3px;
                    }
                }
                .owl-next {
                    i {
                        &:before {
                            content: "\f133";
                        }
                    }
                }
            }
        }
        &.orange-style {
            .team-item {
                &:after {
                    background: $primaryColor;
                }
            }
        }

        .instructor {
            &-title{
                position:relative;
                color: $titleColor;
                font-size:26px;
                font-weight:600;
                line-height:1.3em;
                margin-bottom: 10px;
            }

            ul {
                color: $titleColor;
                margin: 20px 25px;
                list-style-type: circle;
                line-height: 22px;
            }
        }
    } 
    &.inner-style {
        .team-item {
            overflow: hidden;
            .content-part { 
                top: unset;
                bottom: -240px;
                transform: translateX(-50%);
                width: 120%;
                height: 320px ;
                background: $whiteColor;
                border-radius: 40%;
                padding-top: 10px;
                opacity: 1 ;
                transition: $transition;
                .designation {
                    color: $bodyColor;
                }
                .social-links {
                    display: none;
                }
            }
        }
    }
}

@media #{$laptop_max} {
    .gallery-wrapper .image-grid-container-column img.slim {
        height: 260px;
    }
}

@media #{$xl} {
    .gallery-wrapper .image-grid-container-column {
        flex: 50%;
    }
    .gallery-wrapper .image-grid-container-column img.slim {
        height: 430px;
    }
}

@media #{$lg} {
    .gallery-wrapper .image-grid-container-column img.slim {
        height: 370px;
    }
}

@media #{$mobile} {
    .team-item .content-part .social-links li {
        margin-right: 24px;
    }
    .img-part .about-tabs-image {
        min-height: 250px;
    }
}

@media #{$md} {
    .gallery .image-grid-container-column img.slim {
        height: 300px;
    }
}

@media #{$sm} {
    .gallery .image-grid-container-column img.slim {
        min-height: 150px;
        height: auto;
    }
    .gallery .image-grid-container-column {
        flex: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
    .image-preview-modal-container {
        padding: 0 40px;
    }
    .image-preview-modal-container .close-icon {
        top: 0;
        right: 0;
        font-size: 32px;
    }
}

@media #{$xs} {
    .gallery .image-grid-container-column {
        flex: 100%;
    }
    .image-preview-modal-container {
        padding: 0 20px;
    }
}