.rs-team {
    &.style1 {
        .team-item {
            position: relative;
            overflow: hidden;
            img {
                width: 100%;
            }
            .content-part {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, 50%);
                text-align: center;
                z-index: 1;
                transition: $transition;
                opacity: 0;

                .name {
                    margin-bottom: 8px;
                    font-size: 22px;
                    a {
                        color: $whiteColor;
                        &:hover {
                            color: $titleColor;
                        }
                    }
                }
                .designation {
                    color: $whiteColor;
                    margin-bottom: 16px;
                    display: block;
                }
                .social-links {
                    li {
                        display: inline;
                        margin-right: 35px;
                        a {
                            display: inline-block;
                            color: $whiteColor;
                            &:hover {
                                color: $titleColor;
                            }
                        }
                        &:last-child {
                            margin: 0;
                        }
                    }
                }
            }
        }
        .owl-item {
            &.center {
                .team-item {
                    .content-part {
                        transform: translate(-50%, -50%);
                        opacity: 1;
                    }
                    &:after {
                        transform: translate(-50%, -50%) scale(1);
                        opacity: 0.9;
                    }
                }
            }
        }
        .nav-style {
            position: relative;
            .owl-nav {
                display: block;
                position: absolute;
                top: -80px;
                right: 0;
                .owl-prev,
                .owl-next {
                    display: inline-block;
                    i {
                        transition: $transition;
                        &:before {
                            font-family: Flaticon;
                            font-size: 22px;
                        }
                    }
                    &:hover {
                        i {
                            color: $primaryColor;
                        }
                    }
                }
                .owl-prev {
                    i {
                        &:before {
                            content: "\f134";
                        }
                    }
                    &:after {
                        content: "/";
                        padding: 0 5px 0 5px;
                        position: relative;
                        top: -3px;
                    }
                }
                .owl-next {
                    i {
                        &:before {
                            content: "\f133";
                        }
                    }
                }
            }
        }
        &.orange-style {
            .team-item {
                &:after {
                    background: $orangeColor;
                }
            }
        }
    } 
    &.inner-style {
        .team-item {
            overflow: hidden;
            .content-part { 
                top: unset !important;
                bottom: -205px;
                transform: translateX(-50%) !important;
                width: 100% !important;
                height: 320px !important;
                background: $whiteColor;
                border-radius: 50%;
                padding-top: 30px; 
                opacity: 1 !important;
                transition: $transition;
                .name {
                    a {
                        color: $titleColor !important;
                        &:hover {
                            color: $primaryColor !important;
                        }
                    }
                }
                .designation {
                    color: $bodyColor !important;
                }
                .social-links {
                    display: none;
                }
            }
        }
    }
}
@media #{$mobile} {
    .rs-team.style1 .team-item .content-part .social-links li {
        margin-right: 24px;
    }
}